spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    open-in-view: false
  jackson:
    property-naming-strategy: SNAKE_CASE

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL-USERNAME}
    password: ${EMAIL-PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            protocols: TLSv1.3
          starttls:
            enable: true
            required: true

redis:
  port: ${REDIS_PORT}
  host: ${REDIS_HOST}
  password: ${REDIS_PASSWORD}

jwt:
  header: ${JWT_HEADER}
  prefix : ${JWT_PREFIX}
  secret: ${JWT_SECRET}
  access-exp: ${TOKEN_ACCESS_EXP}
  refresh-exp: ${TOKEN_REFRESH_EXP}

openfeign:
  access-key: ${API_ACCESS_KEY}

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
      url: ${S3_URL}
    credentials:
      access-key: ${S3_ACCESS}
      secret-key: ${S3_SECRET}
    region:
      static: ${S3_REGION}
    stack:
      auto: false

logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error